.card-img{
    height: 90px;
    width: 90px;
    margin-top: -30px;
    margin-left: -190px;
    border-radius: 50px;
}

.useritem-card{
    margin-top: 100px !important;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 4px 1px 30px 4px rgba(0, 0, 0, 0.096) !important;
    
}

.useritem-card:hover{
    box-shadow: 4px 4px 25px 4px rgba(0, 0, 0, 0.164) !important;
}

.card-header{
    background-image: linear-gradient(90deg, #00b837 0%, #00d644 100%);
    border-radius: 20px 0px 20px 0px !important;
}

.uname-header{
    margin-top: -50px;
    margin-left: 85px;
    color: white;
    margin-bottom: 10px;
}

.sq-for{
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
    border: thin;
    transition-duration: 0.5s
}

.sq-for:hover{
    background-color: rgb(235, 235, 235);

}

.card-sub-header-para{
    margin-bottom: -3px;
    color: #00b837;
}

.sq-for h1{
    color: rgb(29, 29, 29);
}