.user-place-card{
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 4px 1px 30px 4px rgba(0, 0, 0, 0.096) !important;
    transition-duration: 0.5s
}

.user-place-card:hover{
    box-shadow: 4px 4px 25px 4px rgba(0, 0, 0, 0.164) !important;
}
.image-area{
    max-height: 500px;
}

.user-place-card-title{
    font-weight: bold;
    font-size: xx-large;
    color: #00b837;
}

